html{font-size: 62.5%;}
		body
		{   font-family: "montserrat",sans-serif;
		    background-color:#A698FE;
		    font-size: 14px; font-weight: 500;
		}
      i{ font-size: 1.75rem;
         color: #8891a5;
      }
		.block{   
			height: 10rem; width:10rem;
	    background-color: #9586FF;
		}
		.center{ 
         margin: 0 auto;
         height: 40rem; width: 70rem;
			border-radius: 3rem;
			display: flex;
			background-color:#EDEEF7; 
			justify-content: left;
			align-items:center;
			position: relative ;
		}
		.centerdiv{ 
		   position: absolute;
         margin-top: 7rem;
			padding: 5.5rem;		 	  	   
	  	   max-width: 400px;
         min-width: 300px;
	  	   display: grid;
	  	   grid-gap: 3rem;
	  	   grid-template-columns: repeat(8, 1fr);
	  	   grid-template-rows: repeat(5, 1fr);
	  	   grid-template-areas:"us str1 srch rheart heart rhrt bt1 bt1" "bt2 bt2 bt2 bkm stp swio swio char" "bt3 bt3 bt3 str2 hm swia swia char" "bs2 bs2 nhrt nav sea sea sea sea";
		}
      .centerdiv > *{
         display: flex;
         justify-content: center;
         min-width: 5rem;
         min-height: 5rem;
      }
      .centerdiv > * > *{
         display: flex;
         justify-content: space-around;
         align-items: center;
         width: 100%;
      }
      .centerdiv .btn-u{
         grid-area: us; 
         justify-content: left;
      }
      .centerdiv .btn-star1{
         grid-area: str1;
      }
      .centerdiv .btn-star2{
         grid-area: str2;
      }
      .centerdiv .btn--search{
         grid-area: srch;
      }
      .centerdiv .btn-r1-heart{
         grid-area: rheart;
      }
      .centerdiv .btn-r2-heart{
         grid-area: rhrt;
      }
      .centerdiv .btn-sq-heart{
         grid-area: heart;
      }
      .centerdiv .btn-sm-1{
         grid-area: bt1;
         min-width: 12rem;
      }
      .centerdiv .btn-sm-1 > *{
         font-size: 16px;
         font-weight: bold;         
         color: rgba(0,0,0, 0.2);
      }
      .centerdiv .search-box{
         grid-area: bt2;
      }
      .grid .search-box >*{
         justify-content: space-between;
       position: relative;         
      }      
      .searchBtn{
         position: absolute;
         right: 26rem;
               
      }
      .centerdiv .input-box{
         grid-area: bt3;
      }
      .centerdiv .input-box >::placeholder,.s> ::placeholder{
         
         justify-content: left;
         font-size: 15px;
         font-weight: bold;
         color: rgba(0,0,0, 0.2);
      }
      .centerdiv .btn-bookmrk{
         grid-area: bkm;
      }
      .centerdiv .btn-stop{
         grid-area: stp;
      }
      .centerdiv .btn-u{
         grid-area: us;
      }
      .centerdiv .btn-home{
         grid-area: hm;
      }
      .centerdiv .switch-o{
         grid-area: swio;
         justify-content:center; 
         align-items: center;
      }
      .centerdiv .switch-a{
         grid-area: swia;
         justify-content:center; 
         align-items: center;
      }
      .centerdiv .btn-2item{
         grid-area: bs2;
      }
      .centerdiv .btn-nav{
         grid-area: nav;
      }
      .centerdiv .btn-n-heart{
         grid-area: nhrt;
      }
      .n{
        color: #a69afe; 
      }
      .centerdiv .chart{
         grid-area: char;
      }
      .centerdiv .container3{
         grid-area: sea;
      }
      .morph{
            border: 2px solid transparent;
            background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%);
            box-shadow: -3px -3px 6px 2px #ffffff, 5px 5px 8px 0px rgba(0,0,0,0.17), 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
            transition: 0.15s;
         }
         .morph.active, .morph:active, .morph:focus{
         border: 2px solid #fafafa;
         outline: none;
         box-shadow: inset -3px -3px 5px 0px #ffffff, -1px -1px 4px 0px #ffffff, inset 5px 5px 10px rgba(0,0,0,0.12), inset 2px 2px 3px 0px rgba(0, 0, 0, 0.07), 1px 2px 3px 0px rgba(0,0,0,0.1);
         }
         .btn{
            padding: 1.5rem;           
            border-radius: 5rem;
            text-align: center;
         }
         .btn--square{
            width: 5rem;
            height: 5rem;
            max-width: 5rem;
            max-height: 5rem;
            border-radius: 1.2rem;
         }
         .btn--round{
            max-width: 5rem;
            max-height: 5rem;
            border-radius: 100%;
         }
         .btn-dual{
            width: 10rem;
            height: 5rem;
            max-width: 10rem;
            max-height: 5rem;
            border-radius: 1.2rem;
         }
         .chart--grid {
            list-style: none;
            padding: 0;
            margin: 0;
            grid-gap: 2rem;
        }
        .container1 {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative; 
            height:97%;  
            max-width: 60px;         
           }
        .box1 {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 40%;
            height: 100%;           
            max-width: 100px;
            padding-top: 20px 10px;
            border: 2px solid #fafafa;         
            border-radius: 5rem;
            outline: none;
            box-shadow: inset -3px -3px 5px 0px #ffffff, -1px -1px 4px 0px #ffffff, inset 5px 5px 10px rgba(0,0,0,0.12), inset 2px 2px 3px 0px rgba(0, 0, 0, 0.07), 1px 2px 3px 0px rgba(0,0,0,0.1);
           }
           .slider1 {
            -webkit-appearance: none;
            transform: rotate(270deg);
            appearance: none;
            height:102%;
            border: none;
            border-radius: 5px;
            background-color: transparent;
            outline: none;
            cursor: pointer;
           }  
           .slider1::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 35px;
            height: 35px;
            border: none;
            border-radius: 50%;
            -moz-box-shadow: -2px 0 4px rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: -2px 0 4px rgba(0, 0, 0, 0.4);
            box-shadow: -2px 0 4px rgba(0, 0, 0, 0.4);
            background-color: #ebecf0;
           }
           .container2 {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative; 
            height:97%;
            max-width: 40px;   
           }
        .box2 {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 30%;
            height: 100%;           
            max-width: 100px;
            padding-top: 20px 10px;
            border: 2px solid #fafafa;         
            border-radius: 5rem;
            outline: none;
            box-shadow: inset -3px -3px 5px 0px #ffffff, -1px -1px 4px 0px #ffffff, inset 5px 5px 10px rgba(0,0,0,0.12), inset 2px 2px 3px 0px rgba(0, 0, 0, 0.07), 1px 2px 3px 0px rgba(0,0,0,0.1);
           }
           .slider2 {
            -webkit-appearance: none;
            transform: rotate(270deg);
            appearance: none;
            
            height:102%;
            border: none;
            border-radius: 5px;
            background-color: transparent;
            outline: none;
            cursor: pointer;
           }
           .slider2::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 50px;
            height: 20px;
            border: none;
            border-radius: 5rem;
            -moz-box-shadow: -3px 0 4px rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: -3px 0 4px rgba(0, 0, 0, 0.4);
            box-shadow: -3px 0 4px rgba(0, 0, 0, 0.4);
            background-color: #ebecf0;
           }                
        .container3 {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative; 
            width:28rem ;   
            min-width: 28rem;
            max-width: 28rem;        
           }
        .box3 {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;            
            max-width: 280px;
            padding: 20px 10px;
            border-radius: 5rem;
            box-shadow: -3px -3px 6px 2px #ffffff, 5px 5px 8px 0px rgba(0,0,0,0.17), 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
           }
        .slider3 {
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            height: 10px;
            border: none;
            border-radius: 5px;
            background-color: #ecf0f3;
            box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
                              inset -2px -2px 12px rgba(255, 255, 255, 0.),
                              inset 2px 2px 4px rgba(255, 255, 255, 0.1),
                              inset 2px 2px 8px rgba(0, 0, 0, .3);
            outline: none;
            cursor: pointer;
           }
        .slider3::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 50%;
            box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
                        -2px -2px 12px rgba(255, 255, 255, 0.5),
                        inset 2px 2px 4px rgba(255, 255, 255, 0.1),
                        2px 2px 8px rgba(0, 0, 0, 0.3);
            background-color: #9f95d6;
           }
        .value3 {
              position: absolute;
              top: 20px;
              left: 10px;
              width: 125px;
              height: 10px;
              border-radius: 5px 0 0 5px;
              background-color: #9f95d6;
            }
         
        input[type="checkbox"].ios-checkbox {
           display: none;
        }
        input[type="checkbox"].ios-checkbox + label {
            position: relative;
            display: inline-block;
            cursor: pointer;
            width: 60px;
            height: 30px;
        }
        input[type="checkbox"].ios-checkbox + label:before, 
        input[type="checkbox"].ios-checkbox + label:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 30px;
            border-radius: 60px;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        input[type="checkbox"].ios-checkbox + label:before {
            background-color: #eeeeee;
            width: 60px;
            -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
        }
        input[type="checkbox"].ios-checkbox + label:after {
            width: 30px;
            background-color: #ebecf0;
            -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        }
        input[type="checkbox"].ios-checkbox:checked + label:before {
            background: #9f95d6;
        }
        input[type="checkbox"].ios-checkbox:checked + label:after {
            left: 30px;
        }